 .login-container {
   max-width: 400px;
   margin: auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }
 
 .error {
   color: red;
   margin-bottom: 10px;
 }
 
 input {
   width: 100%;
   padding: 10px;
   margin: 5px 0;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 
 button {
   padding: 10px;
   background-color: #41D1FF;
   border: none;
   color: white;
   cursor: pointer;
   border-radius: 4px;
 }
 
 button:hover {
   background-color: #34a1d1;
 }
